body {
  font-family: Arial;
  background: #f5f5f5;
}

.card {
  background: white;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

button, a {
  background: orange;
  color: white;
  padding: 8px;
  border-radius: 6px;
  display: inline-block;
  text-decoration: none;
}
